.imagify-account,
.imagify-account-link {
	padding-right: 15px;
}
.imagify-meteo-icon {
	display: inline-block;
	height: 38px;
	vertical-align: middle;
	margin-right: 10px;
}
.imagify-user-plan {
	color: #40b1d0;
}
.imagify-meteo-title.imagify-meteo-title {
	color: #FFF;
	font-size: 17px;
}
.imagify-space-left > p {
	color: #FFF;
}
#wp-admin-bar-imagify-profile [class^="imagify-bar-"] {
	position: relative;
	height: 1.5em;
	width: 100%;
	background: #60758D;
	color: #FFF;
	font-size: 10px;
}
#wp-admin-bar-imagify-profile .imagify-progress {
	height: 1.5em;
	font-size: 1em;
}
.imagify-progress {
	transition: width .3s;
}
.imagify-bar-positive .imagify-progress {
	background: #8CC152;
}
.imagify-bar-positive .imagify-barnb {
	color: #8CC152;
}
.imagify-bar-negative .imagify-progress {
	background: #73818C;
}
.imagify-bar-negative .imagify-barnb {
	color: #73818C;
}
.imagify-bar-neutral .imagify-progress {
	background: #F5A623;
}
.imagify-space-left .imagify-bar-negative .imagify-progress {
	background: #D0021B;
}

#wpadminbar #wp-admin-bar-imagify-profile * {
	line-height: 1.5;
	white-space: initial;
}
#wpadminbar #wp-admin-bar-imagify .ab-submenu {
	padding-bottom: 0;
}
#wpadminbar #wp-admin-bar-imagify-profile .ab-item {
	height: auto;
	padding: 0;
}
#wpadminbar #wp-admin-bar-imagify-profile {
	min-width: 200px;
	margin-top: 0.7em;
	background: #222;
}
#wp-admin-bar-imagify .dashicons {
	font-family: "dashicons";
	font-size: 18px;
	vertical-align: middle;
	margin: 0 5px 0 0;
}
#wp-admin-bar-imagify .button-text {
	display: inline-block;
	vertical-align: middle;
}
#wp-admin-bar-imagify .imagify-abq-row {
	display: table;
	width: 100%;
}
#wp-admin-bar-imagify .imagify-abq-row + .imagify-abq-row {
	margin-top: .75em;
}
#wp-admin-bar-imagify .imagify-abq-row > * {
	display: table-cell;
}
#wp-admin-bar-imagify-profile .imagify-meteo-icon {
	padding-right: 7px;
}
#wp-admin-bar-imagify-profile .imagify-meteo-icon img {
	width: 37px;
}
#wp-admin-bar-imagify-profile .imagify-meteo-title {
	font-size: 17px;
}
#wp-admin-bar-imagify-profile .imagify-meteo-subs {
	color: #72889F;
}
#wpadminbar #wp-admin-bar-imagify-profile strong {
	font-weight: bold;
}
#wpadminbar #wp-admin-bar-imagify-profile .imagify-user-plan,
#wpadminbar #wp-admin-bar-imagify-profile a {
	padding: 0;
	color: #40B1D0;
}
#wpadminbar #wp-admin-bar-imagify-profile .imagify-account-link {
	display: table;
}
#wpadminbar #wp-admin-bar-imagify-profile .imagify-account-link > *  {
	display: table-cell;
}
#wpadminbar #wp-admin-bar-imagify-profile .imagify-space-left {
	max-width: 210px;
	min-width: 210px;
	width: 210px;
}
#wpadminbar #wp-admin-bar-imagify-profile .imagify-space-left p {
	font-size: 12px;
}
#wp-admin-bar-imagify-profile .imagify-error,
#wp-admin-bar-imagify-profile .imagify-warning {
	padding: 10px;
	margin: 0 -13px -13px;
}
#wp-admin-bar-imagify-profile .imagify-error p + p,
#wp-admin-bar-imagify-profile .imagify-warning p + p {
	margin-top: .5em;
}
#wp-admin-bar-imagify-profile .imagify-error p + p + p,
#wp-admin-bar-imagify-profile .imagify-warning p + p + p {
	margin-top: 1em;
}

#wpadminbar #wp-admin-bar-imagify-profile .imagify-btn-ghost {
	display: inline-block;
	height: auto;
	padding: 7px 10px;
	border: 1px solid #FFF;
	text-align: center;
	background: transparent;
	color: #FFF;
	border-radius: 3px;
	transition: all .275s;
}

#wpadminbar #wp-admin-bar-imagify-profile .imagify-btn-ghost:hover,
#wpadminbar #wp-admin-bar-imagify-profile .imagify-btn-ghost:focus {
	background: #FFF;
	color: #888;
}

#wpadminbar .imagify-warning * {
	background: #f5a623;
	color: #FFF;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}


#wp-admin-bar-imagify-profile .imagify-upsell-admin-bar {
	position:relative ;
	background: #c51161;
	margin: 10px  -13px -10px -13px;
	padding: 20px;
}

#wp-admin-bar-imagify-profile .imagify-upsell-admin-bar p {
	color: #fff;
}

#wp-admin-bar-imagify-profile a.imagify-upsell-admin-bar-button {
	display: block;
	height: auto !important;
	border: 1px solid #fff;
	border-radius: 5px;
	color: #fff !important;
	padding: 5px 10px !important;
	text-align: center;
	text-decoration: none;
	margin-top: 10px;
}

#wpadminbar #wp-admin-bar-imagify-profile a.imagify-upsell-dismiss {
	display: inline !important;
	height: auto !important;
}

#wpadminbar #wp-admin-bar-imagify-profile .imagify-upsell-dismiss::before {
	position: absolute;
    top: 5px;
    right: 5px;
	color: #fff;
}
.imagify-plugin-upgrade {
	color: #6f9c3b;
	font-weight: 600;
}

#wpadminbar #wp-admin-bar-imagify-upgrade-plan .ab-empty-item {
	padding: 0;
}

#wpadminbar .imagify-admin-bar-upgrade-plan {
	background: #8bc34a;
	box-sizing: border-box;
	border:none;
	color: #fff;
	cursor: pointer;
	display: block;
	font-weight: bold !important;
	padding: 0 10px;
	text-align: left;
	width: 100% !important;
}

#wpadminbar #wp-admin-bar-imagify-profile .imagify-admin-bar-quota {
	padding: 13px 15px;
}
