/* Sub Layer */
body[class*="_imagify"] .swal2-container.swal2-shown {
	background: rgb(31, 35 ,50);
	background: rgba(31, 35 ,50, .9);
	z-index: 100000;
}

/* White Container */
.imagify-sweet-alert .swal2-modal {
	border-radius: 2px;
}

/* To get icon background dark */
.imagify-sweet-alert {
	background: #1F2332!important;
}
.imagify-sweet-alert .swal2-icon {
	margin-bottom: 5px;
}

/* Title and Subtitle */
.imagify-sweet-alert .swal2-title {
	margin: 0;
	padding: 28px 32px;
	font-size: 24px;
	text-align: center;
	color: #FFF;
	background: #1F2332;
}
.imagify-folders-selection .swal2-title {
	text-align: left;
}
.imagify-sweet-alert .imagify-swal-subtitle {
	padding: 0 32px 28px;
	margin-top: -16px;
	font-weight: 500;
	font-size: 14px;
	text-align: left;
	color: #7A8996;
	background: #1F2332;
}

/* Buttons */
.imagify-sweet-alert .swal2-buttonswrapper {
	margin-top: 0;
	padding: 22px;
	background: #F4F7F9;
}
.imagify-sweet-alert button.swal2-styled {
	height: auto;
	padding: 12px 32px;
	margin: 10px;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	border-radius: 3px;
	background-color: #40b1d0 !important;
	box-shadow: 0 3px 0 #338ea6;
}
.imagify-sweet-alert button.loading {
	border-radius: 100% !important;
	height: 40px !important;
	padding:0!important;
	box-shadow: none!important;
}
.imagify-sweet-alert button.swal2-cancel {
	color: #7A8996;
	background: #E9EFF2 !important;
	box-shadow: 0 3px 0 rgba(31, 35, 50, .2);
}
.imagify-sweet-alert-signup .sa-confirm-button-container {
	width: 40%;
}
.imagify-sweet-alert-signup button {
	width: 100%;
	padding: 0 !important;
}
.imagify-sweet-alert .sa-input-error:before,
.imagify-sweet-alert .sa-input-error:after,
.imagify-sweet-alert .la-ball-fall {
	top: 25% !important;
}

.imagify-sweet-alert .swal2-buttonswrapper.swal2-loading .swal2-confirm.swal2-confirm {
	height: 40px !important;
	border-radius: 100% !important;
	border-left-width: 0 !important;
	border-right-width: 0 !important;
}

/* Imagify swal contents */
.imagify-sweet-alert .swal2-content {
	padding: 28px 32px;
	background: #FFF;
}
.imagify-folders-selection .swal2-content {
	padding: 0;
}
.imagify-swal-content {
	padding: 28px 32px;
}
